@model IEnumerable<CategoryFilter.Entities.Product>
@{
    ViewBag.Title = "Продукти";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr class="table-borderless">
                <th>Id</th>
                <th>Назва продукту</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="@Url.Action("EditProduct", "Admin", new { id = item.Id })" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Редагувати</a> |
                    <a href="@Url.Action("DetailProduct", "Admin")" class="btn btn-info btn-sm"><i class="fas fa-search"></i> Переглянути</a> |
                    <a href="@Url.Action("DeleteProduct", "Admin", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Видалити</a> |
                    <a href="@Url.Action("AddProduct", "Admin", new { ProdId = item.Id })" class="btn btn-primary btn-sm"><i class="fas fa-copy"></i> Копіювати</a>

                </td>
            </tr>
        }
    </table>
    <p>
        <a href="@Url.Action("AddProduct", "Admin")" class="btn btn-secondary btn-sm"><i class="fas fa-plus"></i> Додати продукт</a>
    </p>
</div>