@using HtmlHelpers.BeginCollectionItem
@model CategoryFilter.Entities.Property
@{
    int j = 0;
}
<tr>
    @using (Html.BeginCollectionItem("Properties"))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CategoryId)
        <td>
            <div class="input-group">
                @Html.TextBoxFor(model => model.Name, new { placeholder = @Html.DisplayNameFor(m => m.Name), @class = "form-control form-control-sm" })
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-sm" id="Remove"><i class="fas fa-trash-alt"></i></button>
        </td>
    }
</tr>