@model CategoryFilter.Models.FilterViewModel
@{
    ViewBag.Title = "Каталог продуктів";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: none; margin-bottom: 0px; padding-left: 0px;">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>
<h1 class="h4 text-muted">@Model.CategoryName</h1>
<div class="row">
    <div class="col-sm-4 col-md-3 col-xl-3">
        @{Html.RenderPartial("_PartialFilters", Model);}
    </div>
    <div class="col-sm-8 col-md-9 col-xl-9">
        <div class="row card-columns">
            @foreach (var a in Model.Products)
            {
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="card mb-4 shadow-sm">
                        @*<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165bf19f146%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165bf19f146%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">*@
                        <img class="card-img-top" src="~/Image/KAB_2.jpg" />
                        <div class="card-body">
                            <h5 class="card-title">@a.Name</h5>
                            <div class="dropdown-divider"></div>
                            @a.Description
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="d-lg-none d-md-block d-sm-none col-sm-4">
                                    <h5><span class="badge badge-success align-middle">@a.Price грн.</span></h5>
                                </div>
                                <div class="d-none d-md-none d-sm-block d-lg-block col-sm-4">
                                    <h4><span class="badge badge-success align-middle">@a.Price грн.</span></h4>
                                </div>
                                <div class="col-sm-7 col-sm-8 text-right">
                                    <button class="btn btn-info"><i class="fas fa-shopping-cart"></i> В кошик</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
